/* FSS general site styles */

.fl-site-logo { 
	background-repeat: no-repeat; 
	width: 5em;
	height: 5em;	
}

/* Layout */
.fl-site-wrapper {} 
 
.fl-site-header {}

.fl-site-footer {}

.fl-site-content {}

/* Navigation */
.fl-site-nav-main {}

.fl-site-nav-sub ul {
	margin: 0px;
}

.fl-site-toc {}


/* Sidebars */
.fl-site-sidebar { 
}

/* Extras */
.fl-site-read-more { }

/* Skip Links */
.fl-site-skipto a { }