/*
        IDI
============================================= 
 * Layout specifics for IDI theme
 */

.fl-theme-idi .fl-site-logo { 
	background-image: url('../../images/idi_logo.png');
	width: 9em;
} 

/* Layout */
.fl-theme-idi .fl-site-wrapper { 
    margin: 0 auto;
    line-height: 150%;
} 
 
.fl-theme-idi .fl-site-header {
	width: 100%;
    height: 8.8em;
	border-bottom: 1px solid black;    
	margin-bottom: 2em;
}

.fl-theme-idi .fl-site-footer {
	background-image: url('../../images/footer_sep.png');
	background-repeat: no-repeat;
	background-position: 50% 15%;
    text-align: center;
    padding: 55px 10px 10px 10px;
}

/* Main Navigation */
.fl-theme-idi .fl-site-nav-main ul {
	margin: 0px;
	margin-top: 6em;
}

.fl-theme-idi .fl-site-nav-main li {
	display: inline;
	margin-left: 15px;
}

.fl-theme-idi .fl-site-nav-main a {
	text-transform: lowercase;
	font-style: italic;
	text-decoration: none;
	color: #000;
}

.fl-theme-idi .fl-site-nav-main a:hover, 
.fl-theme-idi .fl-site-nav-main a:focus  {
	color: #008cbb;
	border-bottom: 3px solid #008cbb;
	padding-bottom: 7px;	
}

/* Sub Navigation */
.fl-site-nav-sub {}


/* 
 * Sidebar bits
 */

/* Info sidebar bit */
.fl-theme-idi .fl-site-side-info {
	background-color: #f7f389;
	border-top: 1px solid #b7a632;
	margin-top: -3em;
}

.fl-theme-idi .fl-site-side-info h3 {
	color: #404041;
}

/* Quick links sidebar bit */
.fl-theme-idi .fl-site-side-links {
	background-color: #f3f9fe;
	border-top: 1px solid #3c6eb6;
	margin-top: -3em;
}

.fl-theme-idi .fl-site-side-links h3 {
	color: #404041;
}

/* Extras */
.fl-theme-idi .fl-site-read-more {
	background-color: #008cbb;
	padding: 5px 20px 5px 5px;
	background-image: url("../../images/arrow_sm_white_right.png");
	background-repeat: no-repeat;
	background-position: 90% 50%;
	margin-top: 5px;
	display: inline-block;
   -webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.7);
   -moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.7);
   box-shadow:0 0 5px rgba(0, 0, 0, 0.7);	
}
.fl-theme-idi .fl-site-read-more a {
	color: #fff;
}

/* FSS Overrides */
.fl-theme-idi .fl-col-fixed, 
.fl-theme-idi .fl-col-flex {
    padding: 0px;
}
