/*
            Yellow on Black
========================================
 * Color Scheme:
 *     yellow     : #ffff00
 *     black     : #000000
 */
/* 
 * General Styling
 */
.fl-theme-uio-yellowBlack {
  color: #ff0 !important;
  background-color: #000 !important;
}
/* Divs, inputs */
.fl-theme-uio-yellowBlack div, .fl-theme-uio-yellowBlack input {
  color: #ff0 !important;
  background-color: #000 !important;
  border-top-color: #ff0 !important;
  border-right-color: #ff0 !important;
  border-bottom-color: #ff0 !important;
  border-left-color: #ff0 !important;
}
/* iframes */
.fl-theme-uio-yellowBlack iframe {
  border-top-color: #ff0 !important;
  border-right-color: #ff0 !important;
  border-bottom-color: #ff0 !important;
  border-left-color: #ff0 !important;
}
/* Links */
.fl-theme-uio-yellowBlack a {
  color: #ffff00 !important;
  font-weight: bold;
  background-color: #000000 !important;
}
/* Headers */
.fl-theme-uio-yellowBlack h1, .fl-theme-uio-yellowBlack h2, .fl-theme-uio-yellowBlack h3, .fl-theme-uio-yellowBlack h4, .fl-theme-uio-yellowBlack h5, .fl-theme-uio-yellowBlack h6 {
  color: #ffff00 !important;
  background-color: #000000 !important;
  border-top-color: #ffff00 !important;
  border-right-color: #ffff00 !important;
  border-bottom-color: #ffff00 !important;
  border-left-color: #ffff00 !important;
}
/* Tables */
.fl-theme-uio-yellowBlack th {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #ffff00 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #ffff00 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #ffff00 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #ffff00 !important;
  background-color: #ffff00 !important;
  color: #000000 !important;
}
.fl-theme-uio-yellowBlack td {
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #ffff00 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #ffff00 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #ffff00 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #ffff00 !important;
}
/* 
 * FSS Elements
 */
/* Focus */
.fl-theme-uio-yellowBlack .fl-focus:focus, .fl-theme-uio-yellowBlack .fl-focus :focus, .fl-theme-uio-yellowBlack.fl-focus :focus, .fl-theme-uio-yellowBlack .selectable {
  outline-width: 0.2em;
  outline-style: solid;
  outline-color: #F00;
}
.fl-theme-uio-yellowBlack .fl-knockout {
  background-color: transparent !important;
  background-image: none !important;
  background-repeat: repeat !important;
  background-attachment: scroll !important;
  background-position: top left !important;
  color: #ffff00 !important;
}
/* Deprecated: use .fl-noBackgroundImages */
/* Icons */
.fl-theme-uio-yellowBlack .fl-icon {
  background-color: #000000 !important;
}
/* Tabs */
.fl-theme-uio-yellowBlack .fl-tabs {
  border-bottom-color: #ffff00 !important;
}
.fl-theme-uio-yellowBlack .fl-tabs li, .fl-theme-uio-yellowBlack .fl-tabs li * {
  border-top-color: #ffff00 !important;
  border-right-color: #ffff00 !important;
  border-bottom-color: #ffff00 !important;
  border-left-color: #ffff00 !important;
  border-bottom-color: #ffff00 !important;
}
.fl-theme-uio-yellowBlack .fl-tabs li {
  background-color: #ffff00 !important;
}
.fl-theme-uio-yellowBlack .fl-tabs li * {
  color: #000000 !important;
  font-weight: bold;
  background-color: #ffff00 !important;
  text-decoration: none;
}
.fl-theme-uio-yellowBlack .fl-tabs li:hover, .fl-theme-uio-yellowBlack .fl-tabs li:hover *, .fl-theme-uio-yellowBlack .fl-tabs li a:hover {
  color: #ffff00 !important;
  background-color: #000000 !important;
}
.fl-theme-uio-yellowBlack .fl-tabs li.fl-tabs-active, .fl-theme-uio-yellowBlack .fl-tabs li.fl-tabs-active a, .fl-theme-uio-yellowBlack .fl-tabs li.fl-tabs-active a:hover, .fl-theme-uio-yellowBlack .fl-tabs li.fl-activeTab, .fl-theme-uio-yellowBlack .fl-tabs li.fl-activeTab:hover, .fl-theme-uio-yellowBlack .fl-tabs li.fl-activeTab a, .fl-theme-uio-yellowBlack .fl-tabs li.fl-activeTab a:hover {
  background-color: #000000 !important;
  border-bottom-color: #000000 !important;
  color: #ffff00 !important;
}
.fl-theme-uio-yellowBlack .fl-tab-content {
  background-color: #000000 !important;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ff0 !important;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ff0 !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ff0 !important;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #ff0 !important;
  border-top-width: medium;
  border-top-style: none;
  border-top-color: -moz-initial !important;
  color: #ffff00 !important;
}
/* Menu */
.fl-theme-uio-yellowBlack .fl-listmenu, .fl-theme-uio-yellowBlack .fl-list-menu {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ffff00 !important;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ffff00 !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ffff00 !important;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #ffff00 !important;
  border-bottom-width: 2px;
  background-color: #000000 !important;
}
.fl-theme-uio-yellowBlack .fl-listmenu li, .fl-theme-uio-yellowBlack .fl-list-menu li, .fl-theme-uio-yellowBlack .fl-listmenu li a, .fl-theme-uio-yellowBlack .fl-list-menu li a {
  font-weight: bold;
  color: #ffff00 !important;
  background-color: #000000 !important;
  border-top-color: #ffff00 !important;
  border-right-color: #ffff00 !important;
  border-bottom-color: #ffff00 !important;
  border-left-color: #ffff00 !important;
  text-decoration: none;
}
.fl-theme-uio-yellowBlack .fl-listmenu a:hover, .fl-theme-uio-yellowBlack .fl-list-menu a:hover {
  background-color: #ffff00 !important;
  color: #000000 !important;
}
.fl-theme-uio-yellowBlack .fl-listmenu .fl-activemenu a, .fl-theme-uio-yellowBlack .fl-list-menu .fl-activemenu a, .fl-theme-uio-yellowBlack .fl-listmenu .fl-activemenu a:hover, .fl-theme-uio-yellowBlack .fl-list-menu .fl-activemenu a:hover {
  background-color: #ffff00 !important;
  border-bottom-color: #000000 !important;
  color: #000000 !important;
}
/* Buttons */
.fl-theme-uio-yellowBlack .fl-button-left, .fl-theme-uio-yellowBlack .fl-button-right {
  background-image: url('../images/themes/yellowBlack/buttons-med-cap.png') !important;
}
.fl-theme-uio-yellowBlack .fl-button-inner {
  background-image: url('../images/themes/yellowBlack/buttons-med-bg.png') !important;
}
/* Widgets */
.fl-theme-uio-yellowBlack .fl-widget {
  background-color: #ffff00 !important;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000 !important;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000 !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000 !important;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000 !important;
}
.fl-theme-uio-yellowBlack .fl-widget h2 {
  color: #ffff00 !important;
  background-color: #000000 !important;
}
.fl-theme-uio-yellowBlack .fl-widget a {
  color: #ffff00 !important;
}
.fl-theme-uio-yellowBlack .fl-widget .fl-icon-more {
  background-image: url('../images/themes/yellowBlack/icon-widget-More.png') !important;
  margin-left: 0px;
}
.fl-theme-uio-yellowBlack .fl-widget .fl-icon-close {
  background-image: url('../images/themes/yellowBlack/icon-widget-Close.png') !important;
  margin-right: 0px;
}
/* Widget titlebar */
.fl-theme-uio-yellowBlack .fl-widget .fl-widget-titlebar {
  margin-bottom: 3px;
}
.fl-theme-uio-yellowBlack .fl-grabbable .fl-widget-titlebar {
  background-image: url('../images/themes/yellowBlack/icon-widget-gripper.png') !important;
}
.fl-theme-uio-yellowBlack .fl-grabbable .fl-widget-titlebar h2 {
  display: inline;
}
.fl-theme-uio-yellowBlack .fl-widget-titlebar .icon {
  background-position: center center;
}
.fl-theme-uio-yellowBlack .fl-widget-titlebar .fl-button-right, .fl-theme-uio-yellowBlack .fl-widget-titlebar .fl-button-left {
  color: #ffff00 !important;
  background-image: url('../images/themes/yellowBlack/buttons-titlebar-cap.png') !important;
  text-decoration: none;
}
.fl-theme-uio-yellowBlack .fl-widget-titlebar .fl-button-inner {
  background-image: url('../images/themes/yellowBlack/buttons-titlebar-bg.png') !important;
}
/* Widget options */
.fl-theme-uio-yellowBlack .fl-widget .fl-widget-options {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.fl-theme-uio-yellowBlack .fl-widget .fl-widget-options li {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000 !important;
}
/* Widget content */
.fl-theme-uio-yellowBlack .fl-widget .fl-widget-content {
  background-color: #000000 !important;
}
/* 
 * Infusion Components
 */
/* Progress */
.fl-theme-uio-yellowBlack .fl-progress-bounds {
  border-top-color: #ffff00 !important;
  border-right-color: #ffff00 !important;
  border-bottom-color: #ffff00 !important;
  border-left-color: #ffff00 !important;
  background-color: #000000 !important;
}
.fl-theme-uio-yellowBlack .fl-progress-fill {
  color: #000000 !important;
  background-color: #ffff00 !important;
}
/* Reorderer */
.fl-theme-uio-yellowBlack .fl-reorderer-dropMarker {
  background-color: #f00 !important;
}
/* Inline Edit */
.fl-theme-uio-yellowBlack .fl-inlineEdit-edit {
  background-color: #ffff00 !important;
  color: #000000 !important;
  border-top-width: 0.1em;
  border-top-style: solid;
  border-top-color: #000000 !important;
  border-right-width: 0.1em;
  border-right-style: solid;
  border-right-color: #000000 !important;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: #000000 !important;
  border-left-width: 0.1em;
  border-left-style: solid;
  border-left-color: #000000 !important;
  padding-top: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  margin-top: -0.1em;
  margin-right: -0.1em;
  margin-bottom: -0.1em;
  margin-left: -0.1em;
}
