/*
        IDI
=============================================
 * Color Scheme:
 *     	pink: #E31369
 *		blue: #008cbb
 *		dk grey: #231f20 (text)
 *		lt grey: #dde0e1
 */
 
/* 
 * General Styling
 */

.fl-theme-idi {
	color:#231f20; 
	background-color:#ffffff;
	font-family: "Myriad Pro","Helvetica Neue",helvetica,Arial,sans-serif;
	font-size: 1.2em;	
}
  
/* Divs, inputs */
.fl-theme-idi input { 
	padding: 5px; 
	border: 1px solid #ccc; 
}
.fl-theme-idi input[type=submit] { 
	font-weight: bold;
	border: 1px solid #008cbb;
	color: #008cbb;
	background-color: #fff;
}

/* Links */
.fl-theme-idi a  {color: #008cbb; text-decoration: none; }
.fl-theme-idi a:hover { color: #F93; }

/* Headers */
.fl-theme-idi h1, 
.fl-theme-idi h2,
.fl-theme-idi h3,
.fl-theme-idi h4,
.fl-theme-idi h5,
.fl-theme-idi h6 {color:#008cbb;}

/* Tables */
.fl-theme-idi th {border:0.1em solid #231f20; background-color:#231f20; color:#fff;}
.fl-theme-idi td {border:0.1em solid #231f20;}

/* 
 * FSS Elements
 */
 
/* Focus */
.fl-theme-idi .fl-focus:focus,
.fl-theme-idi .fl-focus :focus,
.fl-theme-idi.fl-focus :focus,
.fl-theme-idi .selectable {outline: 0.2em solid #F00;}


/* Icons */
.fl-theme-idi .fl-icon {background-color:#fff;}

/* Tabs */
.fl-theme-idi .fl-tabs {border-bottom-color:#231f20;}
.fl-theme-idi .fl-tabs li,
.fl-theme-idi .fl-tabs li * {border-color:#231f20; border-bottom-color:#231f20; }
.fl-theme-idi .fl-tabs li {background-color:#231f20;}
.fl-theme-idi .fl-tabs li * {color:#fff; font-weight:bold; background-color:#231f20;text-decoration:none;}

.fl-theme-idi .fl-tabs li:hover,
.fl-theme-idi .fl-tabs li:hover *,
.fl-theme-idi .fl-tabs li a:hover {color:#231f20; background-color:#fff;}

.fl-theme-idi .fl-tabs li.fl-tabs-active,
.fl-theme-idi .fl-tabs li.fl-tabs-active a,
.fl-theme-idi .fl-tabs li.fl-tabs-active a:hover, 

.fl-theme-idi .fl-tabs li.fl-activeTab,
.fl-theme-idi .fl-tabs li.fl-activeTab:hover,
.fl-theme-idi .fl-tabs li.fl-activeTab a,
.fl-theme-idi .fl-tabs li.fl-activeTab a:hover {background-color: #fff; border-bottom-color:#fff; color:#231f20;}
.fl-theme-idi .fl-tab-content {background-color:#ffffff; color:#231f20;}

/* Menu  (Our sub navigation is an fl-list-menu) */
.fl-theme-idi .fl-list-menu {
	border: none;
}

.fl-theme-idi .fl-list-menu li { 	
	border-bottom: inherit;
	border-style: inherit;
	margin-bottom: 15px;
	text-align: center;
}

.fl-theme-idi .fl-list-menu li a {
	padding: 5px;
	border: 2px solid #fff;
	text-decoration: none;
}

.fl-theme-idi .fl-list-menu a:hover, .fl-theme-idi .fl-list-menu a:focus {
	background-color: #f3f9fe;
}


/* Buttons */
.fl-theme-idi .fl-button-left,
.fl-theme-idi .fl-button-right {color:#231f20; background-color:#ffffff;}
.fl-theme-idi .fl-button-left,
.fl-theme-idi .fl-button-right {background-image:url('../images/themes/hc/buttons-med-cap.png');}
.fl-theme-idi .fl-button-inner {background-image:url('../images/themes/hc/buttons-med-bg.png');}

/* Widgets */
.fl-theme-idi .fl-widget {background-color:#231f20; border:1px solid #fff;}
.fl-theme-idi .fl-widget h2 {display:inline;}
.fl-theme-idi .fl-widget a {color:#231f20;}
.fl-theme-idi .fl-widget .fl-icon-more {background-image:url('../images/themes/hc/icon-widget-More.png'); margin-left:0px;}
.fl-theme-idi .fl-widget .fl-icon-close {background-image:url('../images/themes/hc/icon-widget-Close.png'); margin-right:0px;}
        
/* Widget titlebar */
.fl-theme-idi .fl-widget .fl-widget-titlebar {margin-bottom:3px;}
.fl-theme-idi .fl-grabbable .fl-widget-titlebar {background-image:url('../images/themes/hc/icon-widget-gripper.png');}
.fl-theme-idi .fl-grabbable .fl-widget-titlebar h2 {display:inline;}
.fl-theme-idi .fl-widget-titlebar .icon {background-position:center center;}
.fl-theme-idi .fl-widget-titlebar .fl-button-right,
.fl-theme-idi .fl-widget-titlebar .fl-button-left {
    color:#231f20;
    background-image:url('../images/themes/hc/buttons-titlebar-cap.png');
    text-decoration:none;
}
.fl-theme-idi .fl-widget-titlebar .fl-button-inner {
    background-image:url('../images/themes/hc/buttons-titlebar-bg.png');
}

/* Widget options */
.fl-theme-idi .fl-widget .fl-widget-options {padding:0px;}
.fl-theme-idi .fl-widget .fl-widget-options li {border-left:1px solid #fff;}
    
/* Widget content */
.fl-theme-idi .fl-widget .fl-widget-content {background-color:#fff;}

/* 
 * Infusion Components
 */

/* Progress */
.fl-theme-idi .fl-progress-bounds {border-color:#231f20; background-color:#fff;}
.fl-theme-idi .fl-progress-fill {color:#fff; background-color:#231f20;}

/* Reorderer */
.fl-theme-idi .fl-reorderer-dropMarker {background-color:#f00;}

/* Inline edit */
.fl-theme-idi .fl-inlineEdit-edit {background-color:#231f20; color:#fff; border: 0.1em solid #fff; padding:0.1em; margin:-0.1em;}

/* UI Options */
.fl-theme-idi .fl-uiOptions-fatPanel .fl-panelBar {
	background-color: #333333;
}

.fl-theme-idi .fl-uiOptions-fatPanel .fl-toggleButton {
	background-image: url('../../../../images/gear_white.png');
	background-repeat: no-repeat;
	background-position: 3% 50%;
	padding: 10px 10px 10px 25px;
	background-color: #333333;
	color: white;
	text-transform: none;
	border-radius: 0 0 8px 8px;
}

/* UI Options theming */
.fl-theme-bw .fl-uiOptions-fatPanel .fl-toggleButton {
	background-image: url('../../../../images/gear_white.png');
	color: #000;
}
.fl-theme-wb .fl-uiOptions-fatPanel .fl-toggleButton {
	background-image: url('../../../../images/gear_white.png');
}
.fl-theme-by .fl-uiOptions-fatPanel .fl-toggleButton {
	background-image: url('../../../../images/gear_white.png');
	color: #000;	
}
.fl-theme-yb .fl-uiOptions-fatPanel .fl-toggleButton {
	background-image: url('../../../../images/gear_white.png');
	color: #FFFF00;	
}

/* EXTRAS: to be added to FSS? */
.fl-text-uppercase { text-transform: uppercase; }
.fl-text-lowercase { text-transform: lowercase; }
.fl-text-smaller {font-size: 90%;}

.fl-theme-yb .fl-list-menu { border-style: none; }
fl-theme-wb .fl-list-menu { border-style: none; }