/*
        IDI
============================================= 
 * Layout specifics for IDI theme
 */

.fl-theme-idi .fl-site-logo { 
	background-image: url('../../../../images/idi_logo.jpg');
	width: 370px;
	height: 80px;
} 

/* Layout */
.fl-theme-idi .fl-site-wrapper { 
    margin: 5px auto 0px auto;
    line-height: 150%;
} 
 
.fl-theme-idi .fl-site-header {
	width: 100%;
	margin-bottom: 1em;
    display: block;	
}

.fl-theme-idi .fl-site-footer {
	background-image: url('../../../../images/footer_sep.png');
	background-repeat: no-repeat;
	background-position: 50% 15%;
    text-align: center;
    padding: 5em 10px 0px 10px;
    display: block;
}

/* Main Navigation */
.fl-theme-idi .fl-site-nav-main ul {
	margin: 0px;
	margin-top: 5em;
}

.fl-theme-idi .fl-site-nav-main ul li {
	display: inline;
	margin-left: 30px;
}

.fl-theme-idi .fl-site-nav-main a {
	text-transform: lowercase;
	font-style: italic;
	text-decoration: none;
	color: #000;
}

.fl-theme-idi .fl-site-nav-main a:hover, 
.fl-theme-idi .fl-site-nav-main a:focus  {
	color: #008cbb;
	padding-bottom: 9px;	
}

/* Sub Navigation */
.fl-site-nav-sub {}

/* TOC */
.fl-site-toc h2 {
	display:inline;
	font-size: 1.2em;
	border: 0px;
}

.fl-site-toc ul {
	border: 1px solid #ED1E79;
	padding: 10px;
	list-style:none;
	margin-left:-40px;
	margin-bottom: 0px;
}


/* 
 * Sidebar
 */
.fl-theme-idi .fl-site-sidebar {
	background-color: #f3f9fe;
	color: #3a3a3c;
	border-top: 2px solid #008cbb;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;	
	padding: 15px 15px 0px 15px;
	width: 180px;
}
.fl-theme-idi .fl-site-sidebar h3 {
	color: #3a3a3c;
}
.fl-theme-idi .fl-site-sidebar h3:first-child {
	margin-top: 0px;
}
.fl-theme-idi .fl-site-sidebar ul {
	margin-left: 0;
}
.fl-theme-idi .fl-site-sidebar ul li {
	list-style:none;
}
.fl-theme-idi .fl-site-sidebar p {
	padding-bottom: 15px;
	margin-bottom: 0;
}

.fl-theme-idi .fl-site-sidebar ul li a {
	background-image: url("../../../../images/arrow_sm_white_right.png");
	background-repeat: no-repeat;
	background-position: 90% 50%;
	padding-right: 20px;	
}

/* Extras */

/* read more link */
.fl-theme-idi .fl-site-read-more {
	padding-right: 23px;
	background-image: url("../../../../images/arrow_sm_blue_right.png");
	background-repeat: no-repeat;
	background-position: 90% 50%;
	display: inline;
}

/* skip to content link */
.fl-site-skipto a:link, 
.fl-site-skipto a:visited {
	color: #fff;	
	float:left; 
} 
 
.fl-site-skipto a:hover, 
.fl-site-skipto a:focus {
	color: #008cbb;
    text-decoration: none;
}


/* FSS Overrides */
/*.fl-theme-idi .fl-col-fixed, 
.fl-theme-idi .fl-col-flex {
    padding: 0px;
}*/


/* Theming */

/* black on white or yellow */
.fl-theme-bw .fl-site-skipto a:link, 
.fl-theme-bw .fl-site-skipto a:visited {
	color: #fff !important;	
}
.fl-theme-by .fl-site-skipto a:link, 
.fl-theme-by .fl-site-skipto a:visited {
	color: #ffff00 !important;	
}  

.fl-theme-bw .fl-site-skipto a:hover, 
.fl-theme-bw .fl-site-skipto a:focus,
.fl-theme-by .fl-site-skipto a:hover, 
.fl-theme-by .fl-site-skipto a:focus {
	color: #000 !important;
}

.fl-theme-bw .fl-site-logo,
.fl-theme-by .fl-site-logo {
    background-image: url("../../../../images/themes/idi_logo_black.png");
}

.fl-theme-bw .fl-site-nav-main .current-menu-item a, 
.fl-theme-bw .fl-site-nav-main .current-page-ancestor a,
.fl-theme-by .fl-site-nav-main .current-menu-item a, 
.fl-theme-by .fl-site-nav-main .current-page-ancestor a,
.fl-theme-bw .fl-site-nav-main a:hover, 
.fl-theme-bw .fl-site-nav-main a:focus,
.fl-theme-by .fl-site-nav-main a:hover, 
.fl-theme-by .fl-site-nav-main a:focus {
    border-bottom-color: #000;
}

.fl-theme-bw #carousel, 
.fl-theme-bw #list-wiki, 
.fl-theme-bw #research-clusters,
.fl-theme-by #carousel, 
.fl-theme-by #list-wiki, 
.fl-theme-by #research-clusters {
	background: none !important;
	border: 1px solid #000;
}

.fl-theme-bw #carousel a.check-out, 
.fl-theme-by #carousel a.check-out,

.fl-theme-bw #list-wiki a, 
.fl-theme-by #list-wiki a, 
.fl-theme-bw #research-clusters a, 
.fl-theme-by #research-clusters a, 

.fl-theme-bw .fl-site-read-more, 
.fl-theme-by .fl-site-read-more {
	background-image: url("../../../../images/themes/arrow_sm_black_right.png");
}

.fl-theme-bw .sidebar-tweets h2,
.fl-theme-by .sidebar-tweets h2 {
	background-image: url("../../../../images/themes/twitter_bird_black.png");
}

.fl-theme-bw .fl-site-footer, 
.fl-theme-by .fl-site-footer {
	background-image: url("../../../../images/themes/footer_sep_black.png");
}

/* white on black */
.fl-theme-wb .fl-site-skipto a:link, 
.fl-theme-wb .fl-site-skipto a:visited,
.fl-theme-yb .fl-site-skipto a:link, 
.fl-theme-yb .fl-site-skipto a:visited {
	color: #000 !important;	
} 

.fl-theme-wb .fl-site-skipto a:hover, 
.fl-theme-wb .fl-site-skipto a:focus {
	color: #fff !important;
}

.fl-theme-wb .fl-site-logo {
    background-image: url("../../../../images/themes/idi_logo_white.png");
}

.fl-theme-wb .fl-site-header {
    border-bottom-color: #fff;
}

.fl-theme-wb #carousel, 
.fl-theme-wb #list-wiki, 
.fl-theme-wb #research-clusters {
	background: none !important;
	border: 1px solid #fff;
}

.fl-theme-wb .sidebar-tweets h2 {
	background-image: url("../../../../images/themes/twitter_bird_white.png");
}

.fl-theme-wb .fl-site-footer {
	background-image: url("../../../../images/themes/footer_sep_white.png");
}

.fl-theme-wb .fl-site-nav-main .current-menu-item a, 
.fl-theme-wb .fl-site-nav-main .current-page-ancestor a,
.fl-theme-wb .fl-site-nav-main a:hover, 
.fl-theme-wb .fl-site-nav-main a:focus {
    border-bottom-color: #fff;
}

/* yellow on black */
.fl-theme-yb .fl-site-skipto a:hover, 
.fl-theme-yb .fl-site-skipto a:focus {
	color: #ffff00 !important;
}

.fl-theme-yb .fl-site-logo {
    background-image: url("../../../../images/themes/idi_logo_yellow.png");
}

.fl-theme-yb .fl-site-header {
    border-bottom-color: #FFFF00;
}

.fl-theme-yb .fl-site-nav-main .current-menu-item a, 
.fl-theme-yb .fl-site-nav-main .current-page-ancestor a,
.fl-theme-yb .fl-site-nav-main a:hover, 
.fl-theme-yb .fl-site-nav-main a:focus {
    border-bottom-color: #FFFF00;
}

.fl-theme-yb #carousel, 
.fl-theme-yb #list-wiki, 
.fl-theme-yb #research-clusters {
	background: none !important;
	border: 1px solid #fff;
}

.fl-theme-yb #carousel a.check-out, 

.fl-theme-yb #list-wiki a, 
.fl-theme-yb #research-clusters a, 

.fl-theme-yb .fl-site-read-more {
	background-image: url("../../../../images/themes/arrow_sm_yellow_right.png");
}

.fl-theme-yb .sidebar-tweets h2 {
	background-image: url("../../../../images/themes/twitter_bird_yellow.png");
}

.fl-theme-yb .fl-site-footer {
	background-image: url("../../../../images/themes/footer_sep_yellow.png");
}